body {
    background-color: #800000;
    overflow-x: hidden;


}

.cabecalho {
    background-color: #ffffff;
    height: 200px;
    width: 100vw;

}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:px;
    
}

.logo-img {
    border-radius: 50%;
    padding: 5px;
    width: 80px;
    height: 80px;
    
}

.nome-pousada {
    padding: 5px;
    font-size: 40px;
    color: #800000;

}


.img-pousada {
    width: 100vw;
    height: 700px;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    margin-top: 50px;
    color: #ffffff;

}
p{
    font-size: 25px;
    margin-top:50px ;
    margin-bottom: 50px;
}


.rodape {
    margin-top: 200px;
    display: flex;
    height: 400px;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #ffffff;
    border-radius: 10%;
}

.titulo-redes {
    font-size: 50px;
    color: #800000;
}

.div-redes {
    display: flex;
    color: #800000;
    width: 100vw;
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
}

.redes-1,
.redes-2 {
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#booking,
#wpp,
#insta,
#email {
    font-size: 27px;
    margin-right: 15px;
    color: #800000;
    text-decoration: underline;
    font-weight: bold;
}

.instagram,
.booking,
.whatsapp,
.email {
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.menu-oculto {
    height: 200px;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #722f37;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 30px; */
}

.x,
.menu-oculto a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.menu-oculto a:hover {
    color: #000000;
}

.x {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 30px;

}

.x:hover {
    color: #000000;
}

.btn-menu {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    cursor: pointer;
    font-size: 25px;
    max-width: 20px;
}